.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;

	.navbar-brand img {
		font-size: 18px;
		position: fixed;
		height: 2em;
		top: 8px;
		left: 15px;
	}

	.navbar-toggle {
		position: fixed;
		top: 8px;
		right: 15px;
		padding: 9px 10px;
		background-color: transparent;
		border: 1px solid black;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: #333;
		}
	}
	
	.icon-bar {
		display: block;
		background: white;
		width: 22px;
		height: 1px;
	}

	.icon-bar:nth-child(2) {
	    margin-bottom: 5px;
		margin-top: 5px;
	}
	
	// Body of the navigation with links 
	.navbar-collapse { 
		text-align: center;
		opacity: .9;
		top: -252px;
		position: relative;
		transition: top .2s ease;
	}

	ul {
		list-style: none;
		background-color: #404040;
		padding-left: 0;
		margin: 0;
	}

	li {
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;
		color: #fff;
		opacity: .9;
		font-size: 1.2em;
		transition: color .3s ease-in-out;

	}

	li.active {
		 background-color: #080808;
	}

	
	li:hover {
		color: #9ee340;
	}

}
