.a_certificate {
	position: relative;
	margin-bottom: 5px;

	@include hover-effect;

	// Adds bottom and top lines
	h2 {
		@include center-all;
		
		top: 1em;
		bottom: 1em;
		padding-top: 2em;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #fff;
		width: 80%;
	}	
}
