.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	height: 0;
	width: 100%;

	a {
		text-decoration: none;
	}
	
	.navbar-brand img {
		font-size: 18px;
		position: fixed;
		height: 2em;
		top: 8px;
		left: 15px;
	}

	.navbar-toggle {
		position: fixed;
		top: 8px;
		right: 15px;
		padding: 9px 10px;
		background-color: transparent;
		border: 1px solid black;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: #333;
		}
	}
	
	.icon-bar {
		display: block;
		background: white;
		width: 22px;
		height: 1px;
	}

	.icon-bar:nth-child(2) {
	    margin-bottom: 5px;
		margin-top: 5px;
	}
	
	// Body of the navigation with links 
	.navbar-collapse { 
		opacity: .9;
		position: relative;
		text-align: center;
		transition: transform .2s ease;
	}
	
	.navbar-collapse[data-toggle=hide] {
		transform: translateY(-100%);
	}
	
	.navbar-collapse[data-toggle=open] {
		transform: translateY(0%);
	}
	
	ul {
		list-style: none;
		background-color: #404040;
		padding-left: 0;
		margin: 0;
	}

	li {
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;
		color: #fff;
		opacity: .9;
		font-size: 1.2em;
		transition: color .3s ease-in-out;

	}

	li.active {
		 background-color: #080808;
	}

	
	li:hover {
		color: #9ee340;
	}

	@media (min-width: 1200px) {
		.navbar-toggle {
			display: none;
		}

		.navbar-collapse[data-toggle=hide],
		.navbar-collapse[data-toggle=open] {
			transform: translateY(0%);
			background-color: #404040;
		}
	
		.navbar-brand img {
			z-index: 1;
			top: 0;
		}
		
		ul {
			display: inline-flex;
			justify-content: flex-end;
			width: 80%;
		}

		li {
			width: 100px;
		}

	}
}	
	
