@import './certificate/_style';

.certifications {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;

	h3 {
		@include basic-title-font-h3;
		color: #333; // override
		text-align: center;
	}
}
