@import './certificate/_style';

.certificates {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 4em;
	box-shadow: inset 0 -1em 2em rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(#fff,#b5b5b5);

	h3 {
		@include basic-title-font-h3;
		color: #333; // override
		text-align: center;
	}

	/* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */

	// for-tablet-portrait-up
	
	@media (min-width: 600px) {
		.certificates-block {
			// position
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	// for wide-tablet-portrait-up
	@media (min-width: 720px) { }

	// for-tablet-landscape-up
	@media (min-width: 900px) { }

	// for-desktop-up
	@media (min-width: 1200px) { }

	// for-big-desktop-up
	@media (min-width: 1800px) { }


}
