@mixin contact-input {	
	border-radius: 6px;
	border: medium solid #000;
	box-sizing: border-box; // Important for responsiveness
	font-size: 23px;
	margin-bottom: 1em;
	padding-left: 1em;
	position: relative;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width: 100%;
	
	&:focus {
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		border-color: #9ee340;
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
		outline: 0;
	}
}

.contact {
	box-shadow: 0 -2em 50px 15px rgba(0,0,0,0.8);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	
	h4 {
		@include basic-title-font-h3;
		color: #000;
		margin: 0; // Overrides browser default
		text-align: center;
	}

	h5 {
		font-size: 24px;
		font-weight: 500;
		text-align: center;
	}

	.name-input {
		@include contact-input;
		height: 3em;
	}

	.email-input {
		@include contact-input;
		height: 3em;
	}

	textarea {
		@include contact-input;
		padding-top: .6em;
	}

	form {
		@include break-points;
		position: relative;
	}

	button {
		background-color: #5cb85c;
		border: 1px solid transparent;
		border-radius: 8px;
		color: #fff;
		cursor: pointer;
		font-size: 23px;
		padding: 15px 65px;

		//position
		position: relative;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		display: block;			// Important, makes margin:auto & left/right:0 work
		
		&:hover {
			background-color: #449d44;
		}
	}

	.email-address {
		font-size: 18px;
		font-weight: 500;
		color: #333;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

		// position
		position: relative;
		text-align: center;
		top: 24px;
	}
	.social {
		position: relative;

		// position
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		top: 24px;

		a {
			text-decoration: none;
			width: 125px;
		}

		i {
			color: #5cb85c;
			padding: .5em;
			font-size: 5em;
			transition: all ease .3s;
			font-size: 60px;
			
			&:hover {
				color: #9ee340;
			}
		}
	}
}
