@font-face {
  font-family: 'basic title font';
  src: url(../fonts/basic-title-font.ttf); }

@font-face {
  font-family: 'open sans condensed';
  src: url(../fonts/OpenSansCondensed-Light.ttf); }

body {
  margin: 0; }
  body.in-transition {
    transition: transform 900ms ease; }

.main {
  position: relative; }
  .main .about-line {
    height: 56px;
    background-color: #9ee340;
    box-shadow: 0 -2em 50px rgba(0, 0, 0, 0.8); }
  .main .tools-line {
    background-color: #7c7877;
    box-shadow: -1em 0 15em #000;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center; }
    .main .tools-line h3 {
      color: #FFF;
      font-family: 'basic title font';
      font-weight: lighter;
      font-size: 5vw; }
  .main .portfolio-line {
    background-color: #39393a;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; }
    .main .portfolio-line h3 {
      color: #FFF;
      font-family: 'basic title font';
      font-weight: lighter;
      font-size: 5vw; }

.arrow-up {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 5px; }
  .arrow-up:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%); }

.home {
  position: relative;
  height: 100vh;
  box-shadow: inset 0px -20px 50px rgba(0, 0, 0, 0.8);
  padding-top: 1px;
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  .webp .home, .no-webp .home {
    background: black;
    background: repeating-linear-gradient(90deg, #222, #423f3f 50px, #333 100px); }
  .home .welcome {
    position: relative;
    top: 80px; }
  .home h1, .home h2 {
    color: #fff;
    font-weight: 500;
    line-height: 1.1;
    text-align: center; }
  .home h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 5vw;
    text-shadow: 2px -3px 5px #000; }
  .home h1 {
    font-family: 'basic title font';
    font-size: 13vw;
    text-shadow: 5px -4px 5px #000; }
  .home .arrow-down {
    position: absolute;
    bottom: 35px;
    padding-bottom: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 77px; }
  @media (min-width: 900px) and (orientation: landscape) {
    .webp .home {
      background: url(../images-css/webP/wooden-fence-background.webp) center center/cover no-repeat fixed; }
    .no-webp .home {
      background: url(../images-css/wooden-fence-background.jpg) center center/cover no-repeat fixed; }
    .home .welcome {
      top: 0px; }
    .home h1, .home h2 {
      line-height: .5; } }

.about {
  font-family: 'Alegreya Sans',sans-serif;
  height: 29em;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 24px;
  text-align: justify;
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  .about h3 {
    font-size: 24px;
    top: 15px;
    position: relative; }
  .about .about-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4; }
  .about .about-picture {
    display: none; }
  @media (min-width: 900px) {
    .about {
      padding-left: 10%;
      padding-right: 10%; } }
  @media (min-width: 1200px) {
    .about {
      padding-left: 20%;
      padding-right: 20%; } }
  @media (min-width: 1800px) {
    .about {
      padding-left: 25%;
      padding-right: 25%; } }
  @media (min-width: 600px) {
    .about {
      height: 20em; } }
  @media (min-width: 900px) {
    .about {
      height: auto;
      padding-top: 2em;
      padding-bottom: 5em;
      display: inline-flex; }
      .about .about-text {
        padding-right: 4em; }
      .about .about-picture {
        display: block;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        flex-shrink: 0; } }

.myTools {
  background: #9ee340;
  box-shadow: inset 0 -2em 50px rgba(0, 0, 0, 0.4);
  padding-bottom: 4em;
  padding-left: 2em;
  padding-top: 2em;
  position: relative;
  padding-right: 2em;
  display: inline-flex;
  flex-wrap: wrap;
  /* For-phone-only:
 * @media (max-width: 599px) is the base style, following the mobile-first approach.
 */ }
  .myTools .tools-collection {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; }
  .myTools img {
    width: 124px; }
  @media (min-width: 600px) {
    .myTools {
      justify-content: center; }
      .myTools img {
        width: 133px; } }
  @media (min-width: 900px) {
    .myTools img {
      width: 220px; } }
  @media (min-width: 1800px) {
    .myTools {
      padding-left: 25%;
      padding-right: 25%; } }

.a_certificate {
  position: relative;
  margin-bottom: 5px;
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  .a_certificate img {
    width: 100%;
    transition: filter .35s; }
  .a_certificate:hover img {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6); }
  .a_certificate h2 {
    position: absolute;
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s, transform .35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }
  .a_certificate:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  .a_certificate h2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    top: 1em;
    bottom: 1em;
    padding-top: 2em;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 80%; }
  @media (min-width: 600px) {
    .a_certificate {
      width: 30%; }
      .a_certificate h2 {
        font-size: 14px;
        top: 0;
        bottom: 0;
        padding-top: 0;
        border-bottom: 0;
        border-top: 0; } }

.certificates {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
  box-shadow: inset 0 -1em 2em rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(#fff, #b5b5b5);
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  .certificates h3 {
    color: #FFF;
    font-family: 'basic title font';
    font-weight: lighter;
    font-size: 5vw;
    color: #333;
    text-align: center; }
  @media (min-width: 600px) {
    .certificates .certificates-block {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-around; } }

.a_featauredWork {
  position: relative;
  width: 50vw;
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  .a_featauredWork img {
    width: 100%;
    transition: filter .35s; }
  .a_featauredWork:hover img {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6); }
  .a_featauredWork h2 {
    position: absolute;
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s, transform .35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }
  .a_featauredWork:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  .a_featauredWork h2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    top: 20%; }
  @media (min-width: 600px) {
    .a_featauredWork {
      width: 30vw; } }

.portfolio {
  background: linear-gradient(rgba(45, 40, 40, 0.9), rgba(33, 33, 33, 0.9));
  box-shadow: inset 0 2em 50px -15px rgba(0, 0, 0, 0.8);
  padding-top: 2em;
  padding-bottom: 4em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */ }
  @media (min-width: 600px) {
    .portfolio {
      align-items: center; }
      .portfolio .mela-conlang {
        top: 150px; }
      .portfolio .videoblesk {
        align-self: flex-end; }
      .portfolio .crispythoughts {
        left: 15vw; }
      .portfolio .arsenycoding {
        left: 16vw; } }
  @media (min-width: 900px) {
    .webp .portfolio {
      background: url(../images-css/webP/damask_vignette.webp); }
    .no-webp .portfolio {
      background: url(../images-css/damask_vignette.jpg); } }

.contact {
  box-shadow: 0 -2em 50px 15px rgba(0, 0, 0, 0.8);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em; }
  .contact h4 {
    color: #FFF;
    font-family: 'basic title font';
    font-weight: lighter;
    font-size: 5vw;
    color: #000;
    margin: 0;
    text-align: center; }
  .contact h5 {
    font-size: 24px;
    font-weight: 500;
    text-align: center; }
  .contact .name-input {
    border-radius: 6px;
    border: medium solid #000;
    box-sizing: border-box;
    font-size: 23px;
    margin-bottom: 1em;
    padding-left: 1em;
    position: relative;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
    height: 3em; }
    .contact .name-input:focus {
      -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      border-color: #9ee340;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      outline: 0; }
  .contact .email-input {
    border-radius: 6px;
    border: medium solid #000;
    box-sizing: border-box;
    font-size: 23px;
    margin-bottom: 1em;
    padding-left: 1em;
    position: relative;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
    height: 3em; }
    .contact .email-input:focus {
      -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      border-color: #9ee340;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      outline: 0; }
  .contact textarea {
    border-radius: 6px;
    border: medium solid #000;
    box-sizing: border-box;
    font-size: 23px;
    margin-bottom: 1em;
    padding-left: 1em;
    position: relative;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
    padding-top: .6em; }
    .contact textarea:focus {
      -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      border-color: #9ee340;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
      outline: 0; }
  .contact form {
    /* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */
    position: relative; }
    @media (min-width: 900px) {
      .contact form {
        padding-left: 10%;
        padding-right: 10%; } }
    @media (min-width: 1200px) {
      .contact form {
        padding-left: 20%;
        padding-right: 20%; } }
    @media (min-width: 1800px) {
      .contact form {
        padding-left: 25%;
        padding-right: 25%; } }
  .contact button {
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    padding: 15px 65px;
    position: relative;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    display: block; }
    .contact button:hover {
      background-color: #449d44; }
  .contact .email-address {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-align: center;
    top: 24px; }
  .contact .social {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 24px; }
    .contact .social a {
      text-decoration: none;
      width: 125px; }
    .contact .social i {
      color: #5cb85c;
      padding: .5em;
      font-size: 5em;
      transition: all ease .3s;
      font-size: 60px; }
      .contact .social i:hover {
        color: #9ee340; }

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 0;
  width: 100%; }
  .navbar a {
    text-decoration: none; }
  .navbar .navbar-brand img {
    font-size: 18px;
    position: fixed;
    height: 2em;
    top: 8px;
    left: 15px; }
  .navbar .navbar-toggle {
    position: fixed;
    top: 8px;
    right: 15px;
    padding: 9px 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer; }
    .navbar .navbar-toggle:hover {
      background-color: #333; }
  .navbar .icon-bar {
    display: block;
    background: white;
    width: 22px;
    height: 1px; }
  .navbar .icon-bar:nth-child(2) {
    margin-bottom: 5px;
    margin-top: 5px; }
  .navbar .navbar-collapse {
    opacity: .9;
    position: relative;
    text-align: center;
    transition: transform .2s ease; }
  .navbar .navbar-collapse[data-toggle=hide] {
    transform: translateY(-100%); }
  .navbar .navbar-collapse[data-toggle=open] {
    transform: translateY(0%); }
  .navbar ul {
    list-style: none;
    background-color: #404040;
    padding-left: 0;
    margin: 0; }
  .navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    opacity: .9;
    font-size: 1.2em;
    transition: color .3s ease-in-out; }
  .navbar li.active {
    background-color: #080808; }
  .navbar li:hover {
    color: #9ee340; }
  @media (min-width: 1200px) {
    .navbar .navbar-toggle {
      display: none; }
    .navbar .navbar-collapse[data-toggle=hide],
    .navbar .navbar-collapse[data-toggle=open] {
      transform: translateY(0%);
      background-color: #404040; }
    .navbar .navbar-brand img {
      z-index: 1;
      top: 0; }
    .navbar ul {
      display: inline-flex;
      justify-content: flex-end;
      width: 80%; }
    .navbar li {
      width: 100px; } }

.footer {
  box-shadow: inset 0 3em 50px rgba(0, 0, 0, 0.8); }
  .webp .footer, .no-webp .footer {
    background: black;
    background: repeating-linear-gradient(90deg, #222, #423f3f 50px, #333 100px); }
  .footer p {
    margin: 0;
    color: #fff;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%; }
  @media (min-width: 900px) {
    .footer {
      height: 100px; }
      .webp .footer {
        background: url(../images-css/webP/wooden-fence-background.webp); }
      .no-webp .footer {
        background: url(../images-css/wooden-fence-background.jpg); }
      .footer p {
        padding-top: 24px; } }
