@font-face {
    font-family: 'basic title font';
    src: url(../fonts/basic-title-font.ttf)
}

@font-face {
    font-family: 'open sans condensed';
    src: url(../fonts/OpenSansCondensed-Light.ttf)
}

// Overrides default 8px margin
body {
	margin: 0;
}

.main {
	position:relative;

	
	.green-line {
		height: 56px;
		background-color: #9ee340;
		box-shadow: 0 -2em 50px rgba(0,0,0,0.8);
	}

}
