@font-face {
    font-family: 'basic title font';
    src: url(../fonts/basic-title-font.ttf)
}

@font-face {
    font-family: 'open sans condensed';
    src: url(../fonts/OpenSansCondensed-Light.ttf)
}

// Overrides default 8px margin
body {
	margin: 0;

	&.in-transition {
		transition: transform 900ms ease;
	}
	
}

.main {
	position:relative;

	.green-line {
		height: 56px;
		background-color: #9ee340;
		box-shadow: 0 -2em 50px rgba(0,0,0,0.8);
	}

	.grey-line {
		background-color: #7c7877;
		box-shadow: -1em 0 15em #000;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: center;

		h3 {
			@include basic-title-font-h3;
		}
	}

	.grey-blue-line {
		background-color: #39393a;
		box-shadow: -1em 0 15em #000;
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
		h3 {
			@include basic-title-font-h3;
		}
	}

}
