@import './featured-work/_style';

.portfolio {
	background: linear-gradient(
		rgba(45,40,40,.9),
		rgba(33,33,33,.9) 
	) ;
	box-shadow: inset 0 2em 50px -15px rgba(0,0,0,0.8);
	padding-top: 2em;
	padding-bottom: 4em;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	
	/* For-phone-only:
	 * @media (max-width: 599px) is the base style, following the mobile-first approach.
	 */

	// for-tablet-portrait-up
	
	@media (min-width: 600px) {
		align-items: center;
		
		.mela-conlang {
			top: 150px;
		}

		.masterMixer {
		}
		
		.videoblesk {
			align-self: flex-end;
		}

		.crispythoughts {
			left: 15vw;
		}
		
		.arsenycoding {
			left: 16vw;
		}
		
	}

	// for wide-tablet-portrait-up
	@media (min-width: 720px) { }

	// for-tablet-landscape-up
	@media (min-width: 900px) {
		.webp & { background: url(../images-css/webP/damask_vignette.webp); }

		.no-webp & {  background: url(../images-css/damask_vignette.jpg); }
	}

	// for-desktop-up
	@media (min-width: 1200px) { }

	// for-big-desktop-up
	@media (min-width: 1800px) { }

}
